* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    text-align: center;
}

h1 {
    margin-top: 25px;
    padding: 10px;
}

p {
    display: none;
}

@media screen and (max-width:425px) {
    body {
        background-color: brown;
    }
    #para1 {
        display: block;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    body {
        background-color: cyan;
    }
    #para2 {
        display: block;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    body {
        background-color: coral;
    }
    #para3 {
        display: block;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    body {
        background-color: green;
    }
    #para4 {
        display: block;
    }
}

@media screen and (min-width:1440px) and (max-width:2140px) {
    body {
        background-color: rgb(148, 238, 238);
    }
}